/*Hoja de estilo Videos Y audio.css
Sofía Requena González
10/11/2025
*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    margin: 20px;

}

body{
    background-image: url(./imagenes/paisaje.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: beige;
}

video, audio{
    padding-top: 2rem;
    width: 80%;
    margin: auto;
    display: block;
}

audio{
    padding-top: 50px;
    display: block;
    margin: auto;
}

/*Video Con menu Grid*/

.Grid{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem;
    margin: 6rem;

}

.Grid video{
    width: 100%;
    margin: auto;
    transition: all 0.5s linear;

}


.Grid video:hover{
    transform: scale(1.3);

}
