/*Hoja de estilo Menú de HTML y CSS
Sofía Requena González
31/10/2025*/


*{
    box-sizing: border-box;
    margin: 0px;

}

body{
    background-image:url(./imagenes/Fondo\ del\ Menú\ HTML\ y\ CSS.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

header,footer{
    background-color: rgba(36, 151, 36, 0.571);
    border-style: solid ;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin: 25px;
    height: auto;
    
    
}

header:hover{
    background-color:  rgba(255, 127, 127, 0.675);
    border-style: solid ;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin: 25px;
    font-style: italic;
    height: auto;
}

footer:hover{
    background-color: rgba(127, 255, 212, 0.675);
    font-style: italic;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    margin: 15px;
    margin: 60px 60px 30px 60px;
    padding: 10px;
    height: auto;
}

footer {
    text-align: center;
    margin: 15px;
    margin: 60px 60px 30px 60px;
    padding: 10px;
    
}

hr {
    margin: 20px 200px 20px 200px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    
 }

 
.Menu_Grid{
    width: 80%;
    margin: 30px auto;
    overflow: auto;
    display: grid;
    border-radius: 20px;
    grid-gap: 30px;

}

.Menu_Grid a{
    text-decoration: none;
    background-color: rgba(94, 220, 159, 0.611);
    color: black;
    padding: 20px;
    text-align: center;
    
}

.Menu_Grid a:hover{
    background-color: rgba(231, 255, 96, 0.797);
    border-radius: 20px;
    font-weight: bolder;
    grid-gap: 30px;
}