/*Hoja de estilo Sombreado y Degradado.css
Sofía Requena González
10/11/2025
}

*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, rgba(173, 224, 203, 0.65), white);
}

header{
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    border: 0.3rem solid black;
    background-image: linear-gradient(rgb(85, 194, 85),rgb(237, 128, 128));
}

p{
    padding: 2rem;
    margin: 3rem 5rem;
    border-radius: 1rem;
    border: 0.3rem solid black;
    font-weight: bolder;
    overflow: auto;
}

.p1{
    background-image: linear-gradient(to right,rgba(0, 0, 255, 0.5),white,rgba(0, 128, 0, 0.51));
}

.p2{
    background-image: radial-gradient(orange,white);
}

.p3{
    background-image: linear-gradient(to right,rgb(249, 102, 102),rgb(249, 198, 102),rgb(184, 183, 183),rgb(255, 255, 109));
}


/*Sombras*/

footer{

    background-image: linear-gradient(to right, blue,white,green);
    text-align: center;
    padding: 2rem;
    margin: 5rem;
    box-shadow: -8px 7px 5px black;
    text-shadow: 2px 2px 4px blue;
    color: rgb(0, 0, 0);
}

div{
    border: 3px solid black;
    margin: 100px;
    background-color: rgb(148, 46, 243);
    height: 320px;
    box-shadow: -20px -20px 5px rgba(110, 42, 131, 0.95);
    height: auto;
    overflow: auto;
}
