/*Hoja de estilo Videos Y audio.css
Sofía Requena González
10/11/2025
*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(255, 255, 255, 0.569);
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    margin: 20px;

}

header h1:hover{
    background-color:rgba(128, 255, 0, 0.712) ;
    border-radius: 20px;
    text-align: center;
        font-style: italic;
        width: 100%;
        clear: both;
        padding: 10px 0px;
        overflow: auto;
        font-weight: bolder;
        box-shadow: -8px 7px 5px rgba(0, 0, 0, 0.76);
    
    
}

body{
    background-image: url(./imagenes/paisaje.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: beige;
    font-size: 2rem;
}

video, audio{
    padding-top: 2rem;
    width: 80%;
    margin: 0 20%;
    margin: auto;
    display: inline-block;
}

audio{
    padding-top: 50px;
    display: block;
    margin: auto;
}

/*Video Con menu Grid*/

.Grid{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem;
    margin: 6rem;

}

.Grid video{
    width: 100%;
    margin: auto;
    transition: all 0.5s linear;

}


.Grid video:hover{
    transform: scale(1.1);

}

iframe {
    display: inline-block; 
    margin: 10% 20%;
  }

  footer {
    text-align: center;
    margin: 15px;
    margin: 60px 60px 30px 60px;
    padding: 15px;
    font-family: "Times New Roman";
    color:white;
}

hr{
    height: 7px; 
    background-color: rgb(95, 110, 206);
}