/*Esta es una hoja de estilo de Sofia_16B.css
Sofia Requena Gonzalez
24/11/2025
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

#Video_de_Fondo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
}

body{
    font-size: 2rem;
}

h1{
    text-align: center;
}

header,footer{
    background-color: beige;
    opacity: 0.7;
    margin:2rem ;
    border-radius: 2rem;
    text-align: center;
}

header{
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0px;
}

header:hover{
    background-color: rgb(205, 177, 106);
    border-style: solid;
    border-radius: 2rem;
    padding: 2rem;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}


footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
}

footer p{
    padding: 20px;
}

footer p:hover{
    background-color: rgb(205, 177, 106);
    border-style: solid;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    font-size: large;
    font-style: italic;
    height: auto;
    font-weight: bold;
}
