/*Hoja de estilo Practica Sofia_09.css
Sofía Requena Gonzalez
05/11/2025*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;

}

body{
    flex-direction:column;
    font-size: 1.6rem;
    display: flex
    

}

header, footer{
   background-color: #E5B520;
   text-align: center;
   padding: 2rem;
}

nav{
    margin-top: 4rem;
}

main{
    background-color:#717AA6 ;
    padding: 2rem;
    flex: 1;
    
}

article{
    background-color: #91886E ;
    padding: 2rem;
    border-radius: 25px;

}

section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-around;
}

section *{
    border-radius: 25px;

}

section img{
    width: 20%;
    flex: 1 1 70%; /*1 crece 1 encoje y 70% de tamaño*/

}

aside{
    background-color: rgb(247, 177, 85);
    flex: 1 1 30%; /*1 crece 1 encoje y 30% de tamaño*/
    padding: 5rem;
}

h3{
    text-align: center;
    margin-bottom: 2rem;
}

p{
    margin-bottom: 1.6rem ;
    font-weight: bolder;
}

/*Menú Flexbox*/


.Menu_Flexbox {
    display: flex;
    justify-content: space-around;
    width: 80%;
    clear: both;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px ;
    overflow: hidden;

}


.Menu_Flexbox a {
    text-decoration: none;
    background-color: rgb(145, 145, 234);
    color: black;
    padding: 20px;
    flex-grow: 1;
    text-align: center;
    border-bottom: 4px solid black;

}

.Menu_Flexbox a:first-child{
    border-top-left-radius: 20px;
}

.Menu_Flexbox a:last-child{
    border-top-right-radius: 20px;
}

.Menu_Flexbox a:hover {
    background-color: aquamarine;
    font-weight: bolder;

}