/*  Hoja de estilo Sofia_03.css
    Sofía Requena González
    06/10/2025
*/

/*No me funcionan los siguientes codigos para css; 
1) box-sizing: border-box; 
2) h1+h2 { color: pink; } --> no lo hemos dado		
3) p>span { color: pink; }	*/

*{
    margin: 0px;
    box-sizing: border-box;

}

p>span{
    color: blue;
}
body{
background-color:rgba(212, 95, 212, 0.833);
font-family: 'Times New Roman';

}

hr {

    height: 7px; 
    background-color: rgb(109, 0, 119);
}

h1{ color:white !important; }
h1~h2 { color:#4b0088; }	

h1{
    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(1, 85, 133, 0.689)!important;
    border: solid 5px black;
    border-width: 8px;
    border-radius: 20px;
    text-align: center;
    box-sizing:border-box;
    
    }
    
h2{
font-style: italic;
text-decoration: underline;
/*font-weight: bold; es para poner las palabras en negrita.*/
font-weight: 100px;
}

footer {
    text-align: center;
    margin: 15px;
    margin: 60px 60px 30px 60px;
    padding: 15px;
    font-family: Times New Roman;

}

.Semana-Santa-en-Vera {
font-weight: bold;

}

.Origenes-e-Historia {
    margin: 10px 20px 30px 20px;

    text-align: left;
    
}

.Origenes-e-Historia2 {
    overflow: auto;
    text-align: left;
}

.Tradiciones-Unicas {
    margin: 10px 20px 30px 20px;
    text-align: right;

}


.Tradiciones-Unicas2 {
    margin: 10px 20px 30px 20px;
    overflow: auto;
    text-align: right;
    
}

.Hermandades {
    margin: 10px 20px 30px 20px;
    text-align: left;

}

.Hermandades2 {
    overflow: auto;
    text-align: left;

}

.Calles {
    margin: 10px 20px 30px 20px;
    text-align: right;

}

.Calles2 {
    margin: 10px 20px 30px 100px;
    text-align: right;
    overflow: auto;
}