/*Esta es una hoja de estilo de Sofia_12.css
Sofia Requena Gonzalez
19/11/2025
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./imagenes/Tarea_08/Foto_de_fondo_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Righteous', cursive;
    font-size: 18px;

}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 2rem;
    -webkit-text-stroke: 0.3px black;

}

.logo_menu{
    height: 10rem; 
}

  
.topnav .logo_menu:hover {
    background-color: #ddd;
    color: black;
  }

/*Menu responsive*/
  
  .topnav {
    overflow: hidden;
    background-color: rgba(188, 188, 188, 0.653);
    background: radial-gradient(rgba(255, 0, 0, 0.482) 40%, rgba(255, 166, 0, 0.482) );
    cursor: grab;
}
  
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    font-weight: bolder;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: -8px 7px 5px rgba(0, 0, 0, 0.76);
    text-shadow: 2px 2px 4px rgb(0, 208, 255, 0.76);
    cursor: grab;
  }
  
  .topnav a:hover {
    background-color: #676565;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-style: italic;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }


/* Ocultar logo en móvil antes de hacer clic */
@media screen and (max-width: 600px) {
    .logo_menu {
        display: none;
    }
}

/* Mostrar logo cuando el menú se despliega */
@media screen and (max-width: 600px) {
    .topnav.responsive .logo_menu {
        display: block;
        float: none;
        margin: 10px auto;
    }
}

/* Menú responsive */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* En modo desplegado */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    /* Mostrar todos los enlaces en el desplegable */
    .topnav.responsive a {
        display: block;
    }
}



section {
    background-color: rgba(251, 251, 251, 0.564);
    margin: 20px 80px 30px 80px;
    padding: 10px 0px 20px 0px;
    border-radius: 10px;
    overflow: hidden;

}

aside {

    margin: 20px 80px 30px 80px;
    padding: 10px 0px 20px 0px;
    border-radius: 10px;
    overflow: hidden;

}


h1 {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    color: rgb(75, 218, 3);
    margin-bottom: 15px;
    font-size: 5rem;
}


h2 {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    color: rgb(8, 0, 255);
    margin-bottom: 15px;
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(62, 124, 39);
    margin-bottom: 3rem;
}


ul li {
    list-style-type: none;
}


.Lista1 li {
    list-style-type: disc;
}


.Lista2 li {
    list-style-type: decimal;
}


li ol {
    list-style-type: none;
}


p {
    margin: 4rem;
    text-align: left;

}

section hr {
    margin: 20px 20px 20px 20px;
    height: 5px;
    background-color: rgb(195, 22, 22);

}


#Inicio h2 {
    text-align: center;

}

#Inicio {
    text-align: center;

}

#Inicio img {
    text-align: center;
    width: 60%;
    flex: 1 1 70%;
    border-radius: 20px;
}

/*Diseño del texto Turismo*/
.turismo {
    margin: 5px;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.turismo article {
    background-color: #cdc7ff;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;

}

.turismo {
    padding: 4rem;
    border-radius: 12px;
    flex: 1 1 30%;

}

/*Diseño del texto Turismo2*/
.turismo2 {
    margin: 5px;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.turismo2 article {
    background-color: #ffd7c7;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;

}

.turismo2 {
    padding: 4rem;
    border-radius: 12px;
    flex: 1 1 30%;

}


/*Diseño del texto Inicio*/

#Inicio article {
    background-color: #ffc7c7;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;
    overflow: hidden;

}

#Inicio {
    padding: 4rem;
    border-radius: 12px;
    flex: 1 1 30%;

}

/*Diseño del texto Historia*/

.historia article {
    background: radial-gradient(rgba(247, 0, 255, 0.482) 30%, rgba(0, 13, 255, 0.482) );
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;
    overflow: hidden;
    cursor:pointer;
}

.historia {
    padding: 4rem;
    border-radius: 12px;
    flex: 1 1 30%;
    
}

/*Diseño del texto Contacto*/
.contacto_img{
    background-image: url(./imagenes/Tarea_08/Plaza_del_pueblo2.png), linear-gradient(to right, transparent 50%,#037bc0 60%, #037bc0 100%) ;
    background-size: 50rem, 100%; /* el primer tamaño es para el gradiente y el 2º es para la imagen */
    padding: 8rem 0;
    padding-left: 65rem;
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }


.contacto {
    margin: 5rem;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.contacto article {
    background-color: #c2f9b1;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;
    overflow: hidden;

}

.contacto ul {
    padding: 4rem;
    border-radius: 12px;
    flex: 1 1 30%;

}

.contacto p {
    text-align: center;
    background-color: #8187ff;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;
}

iframe {
    padding: 2rem 1rem 2rem 1rem ;
    margin: 2rem 4rem 2rem 0rem;
    border-radius: 3rem;
    width: 100%;
    height: 70rem;
    border-style: none;
    overflow: hidden;
}



hr {
    margin: 20px 200px 20px 200px;
}

footer {
    background-image: linear-gradient(to right, rgba(255, 4, 0, 0.715), rgba(255, 255, 255, 0.715), rgba(0, 128, 0, 0.715));
    font-style: italic;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem;
    margin: 5rem;
    box-shadow: -8px 7px 5px black;
    text-shadow: 2px 2px 4px rgb(255, 0, 0);
    color: rgb(0, 0, 0);

    /* ✔ Hace que el texto y la imagen se pongan uno al lado del otro */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* separación entre texto y logo */
}

footer p {
    margin: 0; /* Quitamos margen para que no empuje el logo */
}

.footer-logo-center {
    height:140px;
}


video, audio{
    padding-top: 2rem;
    width: 80%;
    margin: auto;
    display: block;
}

audio{
    padding-top: 50px;
    display: block;
    margin: auto;
}

.Video_iframe {
    display: inline-block; 
    margin: 1% 10%;
    width: 560px; 
    height: 315px; 
  }

/*Video Con menu Grid*/

.Grid{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem;
    margin: 6rem;

}

.Grid video{
    width: 100%;
    padding: 0px 30px;
    margin: auto;
    transition: all 0.5s linear;

}


.Grid video:hover{
    transform: scale(1.1);

}

/*Video Con menu Grid*/

.Grid_centro{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem;
    margin: 6rem;

}

.Grid_centro video{
    width: 100%;
    padding: 0% 20%;
    margin: auto;
    transition: all 0.5s linear;

}


.Grid_centro video:hover{
    transform: scale(1.1);

}


/*Diseño del texto Turismo2*/
.encuentranos article {
    margin: 3rem;
    justify-content: space-around;
    overflow: hidden;
}

.encuentranos article {
    background-color: #ff895b;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 30%;

}

.encuentranos {
    padding: 4rem;
    border-radius: 12px;
    flex: 1 1 30%;
    overflow: hidden;

}

/*Tabla Donde nos encontramos*/
table{
    background-image:
    linear-gradient(to left bottom, rgba(0, 255, 119, 0.51), rgba(100, 62, 254, 0.51));
    border-collapse: collapse;
    border: 3px solid black;
    margin: auto;
    width: 80%;
    margin: 11%;
    cursor: cell;

}


th{
    background-color: rgb(176, 102, 102);
    color: white;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -6px 8px 3px black;
    
}

td{
    font-weight: bold;
    text-align: center; 
    padding: 15px 20px;
}



/*Columnas y las Pseudoclases*/

.historia article p {
    column-count: 2;
    column-gap: 2.5rem;
    column-rule: 3px solid brown;
    text-align: justify;
    overflow: hidden;
}

/* Primera letra grande decorativa */
.historia article p::first-letter {
    font-size: 3rem;
    color: brown;
    font-weight: bold;
    
}

/* Primera línea destacada */
.historia article p::first-line {
    color: rgb(0, 110, 0);
    font-style: italic;
    
}

/* Selección de texto personalizada */
.historia article p::selection {
    background-color: rgb(255, 220, 150);
    color: black;
    
}