/*Hoja de estilo de Sofia_14.css
Sofía Requena González
19/11/2025*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}
body{
    font-size: 2rem;
    background:linear-gradient(to left bottom, rgba(242, 244, 98, 0.857),rgba(102, 246, 198, 0.857),rgba(244, 73, 76, 0.857));
    height: 100vh;
}

table{
    /*el caption-side:bottom es para poner el caption abajo*/
    caption-side: bottom;
    margin: auto;
    margin: 2rem auto 2rem auto;
    width: 80%;
    border-collapse: collapse;
    background: radial-gradient(pink, rgb(128, 221, 255));
}

h1{
    color: aquamarine;
    text-align: center;
    border-radius: 2rem;
    border: 0.5rem solid black;
    background:linear-gradient(to left bottom, rgba(98, 98, 244, 0.857),rgba(246, 102, 102, 0.857),rgba(73, 244, 73, 0.857));
    margin-top: 2rem;
    padding: 1rem;
    font-style: italic;
    text-shadow: 0.3rem 0.7rem 0.2rem black;

}

td, th{
    border: 2px solid red;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    font-weight: bold;
    
}

th{
    text-shadow: -0.5rem 0.3rem 0.2rem rgb(255, 255, 0);
}

table tr:first-child{
    background: linear-gradient(to right, rgb(81, 81, 190) 0%, rgb(225, 113, 243) 80%);
    
}

table{
    box-shadow: -0.8rem 0.8rem 0.2rem rgb(110, 95, 95);
}

td img{
    width: 100%;
    border-radius: 2rem;
}

caption{
    margin: 2rem;
    font-weight: bold;
    font-style: italic;
}

footer {
    text-align: center;
    margin: 15px;
    margin: 60px 60px 30px 60px;
    padding: 15px;
    font-family: "Times New Roman";

}

hr{
    height: 7px; 
    background-color: rgb(95, 110, 206);
}