html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}
body{
    font-size: 2rem;
}

table{
    caption-side: bottom;
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    background: radial-gradient(pink, rgb(128, 221, 255));
}

h1{
    text-align: center;
}

td, th{
    border: 2px solid red;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
}

table tr:first-child{
    background: linear-gradient(to right, blue 0%, yellow 30%, green 40%);

}

td img{
    width: 100%;
    
}