/*Esta es una hoja de estilo de Repaso1.css
Sofia Requena Gonzalez
15/10/2025
*/

*{
box-sizing: border-box;
margin:0px;

}

body{
    background-color: antiquewhite ;

}

h1{
    text-align: center;
    background-color: rgb(58, 17, 141);
    color:white;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;

}

nav{
    background-color: rgb(211, 203, 129);
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

section {
    background-color: rgb(138, 224, 205);
    margin: 10px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;

}

h2{
    text-align: center;
    background-color:rgba(105, 82, 150, 0.786) ;
    padding: 10px;
    border-radius: 15px;

}

p{
    margin: 15px;

}

.importante{
    background-color: burlywood;
    padding: 10px;
    border-left: 5px blue solid;

}

.Inicio{
    margin: 50px;

}

.Historia{
    margin: 50px;

}

.Contacto{
    margin: 50px;
}
.paises{
    background-color: coral;
    font-size: 20px;
    font-weight: bold;

}