/*Hoja de estilo Reto1SofiaRequena.css
Sofía Requena González
16/10/2025
*/

*{
    box-sizing: border-box;
    margin: 0px;
}

body{

    background-color:rgb(214, 214, 117);
}

h1{
    color: white;
    background-color: rgb(72, 79, 175);
    text-align: center;
    border-radius: 10px;
    margin: 20px ;
    padding: 20px;

}

h2{
    color: white;
    background-color: rgb(72, 79, 175);
    text-align: left;
    border-radius: 10px;
    margin: 20px ;
    margin-top:60px;
    padding: 20px;

}
nav {
    color: white;
    background-color: rgb(72, 79, 175);
    text-align: center;
    border-radius: 10px;
    margin: 20px ;
    padding: 20px;

}

.Inicio {

    margin-right: 25%;
}

.Historia{
    margin-right: 25%;
}

.introduccion{

    background-color: white;
    margin: 20px;

}

.importante {
    background-color: rgb(255, 216, 165);
    padding: 10px;
    border-left: 5px rgb(255, 191, 0) solid;
}
p{

    margin: 20px;
    border-radius: 5px;
    

}

div{
    margin:60px;
}

section{
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    border-color: rgb(69, 69, 241);
}

.esfuerzos_internacionales{
background-color: rgb(161, 161, 249);
margin-bottom: 100px;

}
.correo{
    margin-bottom: 30px;

}

br{
    margin: 20px;
}

hr {
    margin: 20px;
background-color: black;
height: 2px; 
    

}

a {
text-align: center;
margin-bottom: 10px;

}

