/*Esta es una hoja de estilo de Reto2.css
Sofia Requena Gonzalez
12/11/2025
*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(103, 117, 220);
    font-family: 'Righteous', cursive;
    
}

h1,h2,h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
}


.Menu a {
    color: rgb(46, 46, 254);
    text-decoration: none;
    background-color: rgb(229, 229, 229);
    margin: 0px 0px 10px 0px;
    text-align: center;
    padding: 20px;
    padding: 20px;
    flex-grow: 1;
    text-align: center;
    font-weight: bolder;
    overflow:auto;

}

.Menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    clear: both;
    margin: auto;
    overflow:hidden;


}

.Menu a{
    width: 100%;
    clear: both;
    padding: 20px;
    overflow: hidden;

}

.Menu a:hover{
    background-color: rgb(93, 117, 227);
    color: white;
    width: 100%;
    clear: both;
    padding: 20px;
    overflow:auto;
    font-weight: bolder;

}

section {
    background-color: rgb(251, 251, 251);
    margin: 20px 80px 30px 80px;
    padding: 10px 0px 20px 0px;
    border-radius: 10px;
    overflow: hidden;

}

h1 {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    color: rgb(73, 73, 255);
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    color:blueviolet;
    margin-bottom: 15px;

}
ul li{list-style-type:none;}

.Lista1 li{
    list-style-type:disc;

}

.Lista2 li{
    list-style-type:decimal;

}

li ol{
    list-style-type:none;
}

h3 {
    text-align: left;
    color: blueviolet;
    margin-bottom: 15px;
    

}

p {
    margin: 15px;
}

section hr {
    margin: 20px 20px 20px 20px;
    height: 5px;
    background-color: blueviolet;

}


#Inicio h2 {
    text-align: center;

}

#Inicio {
    text-align: center;


}

#Inicio img {
    text-align: center;
    width: 60%;
    flex: 1 1 70%;
    border-radius: 20px;
}


.lista{
    margin: 5px;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.lista article{
    background-color: #cdc7ff ;
    padding: 2rem;
    border-radius: 12px;
    background-color: rgb(206, 216, 231);
    flex: 1 1 30%; 
    padding: 4rem;
    text-align: left;
    
}

.galeria{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    margin: 0px

}

.galeria img{
    width: 110%;
    margin: auto;
    border-radius: 12px;
    transition: all 0.5s linear;

}


.galeria img:hover{
    transform: scale(1.3);

}

hr {
    margin: 20px 200px 20px 200px;
}

footer {
    color: blueviolet;
    text-align: center;
    background-color: rgb(251, 251, 251);
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;

}

video, audio{
    padding-top: 2rem;
    width: 80%;
    margin: auto;
    display: block;
}

audio{
    padding-top: 50px;
    display: block;
    margin: auto;
}


.multimedia{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem;
    margin: 6rem;

}

.multimedia video{
    width: 150%;
    margin: auto;
    border-radius: 20px;

}